<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/greet/User"></a>
        <a href="/image">Download Image</a>
    </nav>
    <h1>Hello, <%= name %> </h1>
</body> 
</html>